/* styles.css */
.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.header {
  height: 30px;
}

.image {
  height: 30px;
  width: 30px;
}

.job-card {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .job-card {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 500px) {
  .job-card {
    flex-basis: calc(90%);
    margin-left: 5%;
  }
}

/* styles.css  ****************for serarch*/
.job-search-form {
  display: flex;
  flex-wrap: wrap;
}

.job-search-form label,
.job-search-form select,
.job-search-form input,
.job-search-form button {
  margin-bottom: 10px;
}

.job-search-form label {
  flex-basis: 100%;
}

.job-search-form select,
.job-search-form input {
  flex-basis: calc(50% - 10px);
}

.job-search-form button {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .job-search-form label,
  .job-search-form select,
  .job-search-form input,
  .job-search-form button {
    margin-bottom: 0;
  }

  .job-search-form label {
    flex-basis: auto;
    margin-right: 10px;
  }

  .job-search-form select,
  .job-search-form input {
    flex-basis: auto;
  }

  .job-search-form button {
    flex-basis: auto;
    margin-left: 10px;
  }
}

/* Header.css */
.header {
  background-color: #333;
  height: 40px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-list li {
  padding: 10px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    padding: 5px;
  }
  .header {
    background-color: #333;
    height: 180px;
  }
}

.job-listing {
  display: flex;
  align-items: center;
}
.toggle-description {
  color: rgb(71, 39, 254);
}
.job-details {
  flex: 1;
  margin-left: 10%;
}

.job-details h2,
.job-details h3,
.job-details p {
  margin: 0;
}
